:root {
  color-scheme: light;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
}

button,
input,
select,
textarea {
  font: inherit;
}
